body
{
    margin:0;
    padding:0;
    background-color: #fff;
    font-family:Helvetica, HiraKakuProN-W3, sans-serif;
    font-size:25px;
    color:#fff;
}
  
#contents
{
    position: absolute;
    top: 0;
    left: 0;
    width: 460px;
    height:460px;
    overflow:hidden;
}
  
#canvas
{
    position: absolute;
    top: 0;
    left: 0;
    width: 460px;
    height:460px;
}